.student-cards {
	display: flex;
	flex-direction: column;
	padding: 12px;
	padding-top: 184px;
	gap: 12px;
}

.student-cards-item {
	padding: 12px;
	border-radius: 16px;
	display: flex;
	flex-direction: column;
	gap: 16px;
	width: 100%;
}
	/* 日间模式卡片背景 */
html.light .student-cards-item {
	background: rgba(59, 130, 246, 0.12);
}

/* 夜间模式卡片背景 */
html.dark .student-cards-item {
	background: #1a202c;
}

.student-cards-item-header {
	display: flex;
	gap: 8px;
}
.student-cards-item-header img {
	border-radius: 16%;
	width: 64px;
	height: 64px;
}
.student-cards-item-header-student-info {
	display: flex;
	flex-direction: column;
	justify-content: center;
	gap: 4px;
	font-weight: 600;
	font-size: 0.8rem;
}
.student-cards-item-header-points {
	display: flex;
	flex-direction: column;
	gap: 8px;
	align-items: center;
	justify-content: center;
	font-size: 0.8rem;
	font-weight: 600;
}

.student-cards-item-student-info {
	display: flex;
	flex-wrap: wrap;
	gap: 1rem;
	font-size: 0.85rem;
}
.student-cards-item-buttons {
	display: flex;
	flex-direction: column;
	gap: 8px;
}
.student-cards-item-buttons > div {
	display: flex;
	flex-direction: column;
	gap: 2px;
}
.student-cards-item-buttons > div span {
	font-size: 0.8rem;
}
.student-cards-item-buttons > div > div {
	display: flex;
}
.student-cards-item-buttons > div > div .el-button {
	font-size: 0.7rem;
}
