.main-page-buttons-and-search {
	display: flex;
	padding: 16px 64px;
	align-items: center;
	justify-content: space-between;
	animation: fade-in 1.6s ease-in-out;
}

.main-page-buttons-and-search-buttons {
	display: flex;
	gap: 16px;
}
.main-page-buttons-and-search-buttons .el-button {
	border-radius: 16px;
}

.main-page-buttons-and-search-buttons .el-button:hover {
	transform: scale(1.05);
}
.main-page-buttons-and-search-buttons .el-button.active {
	transform: scale(1.15);
}

.main-page-buttons-and-search-search {
	display: flex;
	align-items: center;
	justify-content: space-between;
	gap: 16px;
}
.main-page-buttons-and-search-search .el-button {
	border-radius: 16px;
}

@keyframes fade-in {
	from {
		opacity: 0;
	} to {
		opacity: 1;
	}
}
